body {
	text-align: center;
	background-color: #2ac3de;
	background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
	padding-top: 70px;
	margin: 20px;
}

h1 {
	font-family: 'Bungee Shade', cursive;
}

#quizinfo {
	font-family: 'Bungee Inline', cursive;
}

#after_submit {
	visibility: hidden;
}

#picture {
	height: 500px;
	width:450px;
}